.button {
	position: relative;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 8px 14px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: $accent-colour;
    color: #ffffff;
    border: 0;
    cursor: pointer;

    &:hover {
        background-color: $accent-colour;
        color: #fff;
    }
}

.stacked {
    display: block;
}
.button-group.stacked {
    float: right;
}
.button.stacked {
    height: 80%;
}