* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
  position: relative;
  min-height: 100%;
}

strong {
  font-weight: bold;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
  margin: 0 0 100px;
}

h2.title {
    display: block;
    background: $accent-colour;
    color:white;
    font-weight: 600;
    text-transform: uppercase;
}

h2.title, .content-area {
     padding: 1rem;
}

a {
  color:$accent-colour;
  text-decoration: none;
}
