article.comments {
	div.comments-list {
		background: white;
	}

	div.comment-box {
		height: auto;
		margin-left: 30px;
	    padding: 1rem;
	    border: 1px solid #f2f2f2;
	    border-radius: 5px;

		textarea, a.button {
			vertical-align: middle;
		}

		textarea {
			padding: 1rem;
			height: inherit;
			outline-color: $accent-colour;
			border: 1px solid #f2f2f2;
			width: 90%;
			height: 145px;
			background: #f2f2f2;
			outline-width: 1px;
			font-size: 1rem;
			resize: vertical;
		}

		a.button {
			margin-left: 5px;
		}
	}

	ul {
		li.comment {
			div.user-avatar {
				width: 50px;
				height: 50px;
				display: inline-block;

				img {
					width: 100%;
					border-radius: 50px;
    				border: 1px solid #f2f2f2;
					height: 100%;
				}
			}
			blockquote {
			    padding: 8px;
			    border-radius: 3px;
			    border: 1px solid #f2f2f2;
			    margin: 8px auto;


				p {
					vertical-align: top;
					display: inline-block;
					margin-top: 20px;
					margin-left: 10px;

					&.comment-details {
						display: block;
						float: right;

						span {
							font-style: italic;
							font-size: .85rem;
							strong {
								font-weight: bolder;
								color: $accent-colour;
							}
						}
					}
				}
			}
		}

		ul.replies {
			li.comment {
				border-left: 4px solid #e2e2e2;
				margin-left: 30px;
				padding-left: 5px;


			}
		}
	}
}