header.splash {
	width:100%;
	background-color: #42a792;
	min-height: 200px;
	display: table;

	div.group-name, div.user-name {
		display: table-cell;
		vertical-align: middle;

		h1 {
			color: black;
			font-size: 4rem;
			text-align: center;
		}
	}
}
.groups {
	.group {
		border: 1px solid #e2e2e2;
		padding: 1rem;
		margin-right: 5px;
		width: 100%;
		margin: 10px auto;
		vertical-align: middle;
		text-align: center;

	}
}

.group {

	article {

		&.members {
			div.members-list {
				border: 1px solid #eee;
				padding: 1rem;

				a.member {
					display: inline-block;
					width: 120px;
    				height: 120px;
					background-size: contain;
					margin-right: 10px;
					padding: 10px;
					border: 1px solid #f2f2f2;
					position: relative;

					&:hover {
						opacity: 0.75;
					}

					h4 {
						text-align: center;
						position: absolute;
						bottom: 0;
						right: 0;
						left: 0;
						line-height: 30px;
						height: 30px;
						font-size: 0.8rem;
						font-weight: 300;
					    background: #666;
					    opacity: 0.8;
					    color: white;
					}
				}
			}
		}
	}
}