@mixin clearfix-micro() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
header {
	background-size: cover;

	nav {
		@include clearfix-micro();
		ul {
			list-style: none;
			li {
				float: left;
				margin-right: 10px;

				a {
					text-decoration: none;
				}
			}
		}
	}
}