div.users {
	.user {
		border: 1px solid #f2f2f2;
		width:22%;
		margin: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		display: inline-block;
		text-align: center;

		.user-avatar {
			display: block;
			img {
				width: 90px;
				height: 90px;
			}
		}

		strong {
			margin: 5px auto;
			display: block;
		}
	}
}

div.user {
	header {
		padding: 0;
		.user-avatar {
			float: right;
		}

		.user-details {
			padding: 1rem;

			.user-name {
				h1 {
					font-size: 3rem;
					color: white;
				}
			}
		}

		.user-avatar, .user-details {
			display: inline-block;
		}
	}
}