<div class="groups" ng-if="list">
	<header class="splash">
		<div class="group-name">
			<h1>
			Groups
			</h1>
		</div>
	</header>
	<div class="group" ng-repeat="group in groups">
		<span>
			<a ng-href="/#/group/{{group.name}}">
				{{group.name}}
			</a>
		</h1>
	</div>
</div>

<div ng-if="!list" class="group" data-groupid="{{ group.id }}">
	<header class="splash" style="background-image:url(https://unsplash.it/960/300?blur)">
		<div class="group-name">
			<h1>
			{{group.name}}
			</h1>
		</div>
	</header>
	<article class="group-info">
		<h2 class="title">
			Group information
		</h2>

		<div class="content-area detail">
			Created on
					{{group.created_at | date: 'EEEE, MMMM d, y'}}
		</div>
	</article>
	<article class="members">
		<h2 class="title" ng-cloak>
			Group members ({{group.users.length}})
		</h2>

		<div class="content-area members-list">
			<a class="member" ng-href="/#/user/{{user.id}}" ng-style="{'background-image': 'url({{user.imageUrl}})'}" ng-repeat="user in group.users">
			<div>
				<h4>
					{{user.name}}
				</h4>
			</div>
			</a>
		</div>
	</article>

	<article class="comments">
		<h2 class="title">
			Comments
		</h2>
		<div class="content-area comments-list">
			<collection collection="group.comments"></collection>
		</div>
	</article>


</div>