<div class="users" ng-if="list">
	<header class="splash">
		<div class="user-name">
			<h1>
			All Users
			</h1>
		</div>
	</header>
	<div class="user" ng-repeat="user in users">
		<span>
			<a ng-href="/#/user/{{user.id}}">
				<span class="user-avatar">
					<img ng-src="{{user.imageUrl}}"/>
				</span>
				<strong>{{user.name}}</strong>
			</a>
		</h1>
	</div>
</div>

<div ng-if="!list" class="user">
	<header>
		<div class="user-avatar">
		 	<img ng-src="{{user.imageUrl}}"/>
		</div>
		<div class="user-details">
			<div class="user-name">
				<h1>
					{{user.name}}
				</h1>
		</div>
		</div>
		<div style="clear: both;"></div>
	</header>

	<article class="user-info">
		<h2 class="title">
			user information
		</h2>

		<div class="content-area detail">
			<p>
				<strong>Created:</strong>
					{{user.created_at | date: 'EEEE, MMMM d, y'}}
			</p>
			<p>
				<strong>Age:</strong>

					{{user.age}}
			</p>
			<p>
				<strong>Member of:</strong>
				{{user.group.name}}
			</p>
		</div>
	</article>
</div>