<!DOCTYPE html>
<html>
<head>
  <title>HingeGroups</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="app">
	<header class="nav">
		<nav>
			<ul>
				<li>
					<a href="/#/groups/">Groups</a>
				</li>
				<li>
					<a href="/#/users/">Users</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<%= yield %>
	</main>
	<footer>
	Hinge
	</footer>
</body>
</html>
